@media only screen and (max-width: 768px) {
 
  .card {
    width: 312px;
    height: 722px;
    border-radius: 5px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .top-section {
    height: 268px; 
    padding: 30px 15px 0 25px; 
  }

  .title {
    font-size: 19.5px;
  }

  .subtitle {
    font-size: 15px;
    line-height: 1.3em;
    margin-top: 26px;
    word-spacing: 1px;
  }

  .description {
    font-size: 13.7px;
    line-height: 1.65rem;
    font-weight: 400;
    margin-top: 15px;
  }

  .bottom-left {
    border-radius: 0px;
    padding: 25px;
    width: 100%;
  }

  .bottom-right {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    padding: 25px;
  }  
}