:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --font-family: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
}

main {
  background-color: var(--light-gray);
  max-width: 1440px;
  margin: 0 auto;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 635px;
  height: 476px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 7px;
  box-shadow: 11px 11px 45px -19px var(--grayish-blue);
  display: flex;
  flex-wrap: wrap;
}

.top-section {
  height: 217px;
  padding: 44px 27px 0 41px;
}

.title {
  color: var(--cyan);
  font-weight: 700;
  font-size: 23.5px;
}

.subtitle {
  color: var(--bright-yellow);
  font-size: 18.4px;
  margin-top: 28px;
}

.description {
  font-size: 15.6px;
  color: var(--grayish-blue);
  line-height: 1.65em;
  margin-top: 13.5px;
  font-weight: 400;
}

.bottom-left {
  background-color: var(--cyan);
  border-bottom-left-radius: 7px;
  width: 50%;
  padding: 41px 40px 38px 40px;
}

.monthly-subscription {
  color: hsl(0, 0%, 100%);
  font-size: 18.45px;
}

.price-container {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.price-label {
  color: hsl(0, 0%, 100%);
  font-size: 32px;
  font-weight: 700;
}

.month-label {
  margin-left: 12px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.5);
}

.full-access-text {
  font-weight: 400;
  margin-top: 11px;
  color: hsl(204, 43%, 93%);
  font-size: 15.7px;
}

.btn {
  background-color: hsl(71, 73%, 54%);
  border: 0;
  width: 100%;
  height: 48px;
  color: hsl(360, 100%, 100%);
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0px 12px 16px 0px hsl(179, 61%, 39%);
  margin-top: 30px;
  cursor: pointer;
}

.bottom-right {
  background-color: hsl(179, 47%, 52%);
  width: 50%;
  border-bottom-right-radius: 7px;
  padding: 42px 0 0 40px;
}

.why-us-text {
  color: hsl(0, 0%, 100%);
  font-size: 18.5px;
}

ul {
  margin-top: 18px;
}

ul li {
  list-style: none;
  font-size: 13.7px;
  color: hsla(0, 0%, 100%, 0.5);
  line-height: 1.25rem;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
